
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway {
    font-family: "Raleway", sans-serif;
}
 
 * {
    padding: 0px;
    margin: 0px;
    
}

.nav-btn {
    background-color: rgba(29, 209, 0, 0.1);;
}